/* fonts */
@font-face {
    font-family: 'syne-mono';
    src: url(../fonts/Syne-Mono.otf);
}

@font-face {
    font-family: 'syne-bold';
    src: url(../fonts/Syne-Bold.otf);
}

@font-face {
    font-family: 'syne-extra';
    src: url(../fonts/Syne-Extra.otf);
}

/* whole page */
html { 
    background: url(../images/parents-summer-2022.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color:#D9D6D0 ;
 }

 /* styles text */
body {
    font-family: 'syne-bold';
    font-size:20px;
    color:#0D0C00;
    resize:auto;
    width: 600px;
    margin: 0 auto; /*TB, LR*/
    padding: 20px 20px 0 20px; /* TRBL */
}

a {
    color:#0D0C00;
    text-decoration: underline;
    text-underline-offset: 0.1em;
}

a:hover {
    color:#BF9004;
}
